<%- include('partials/header'); -%>

<form action="">
  <h2>Sign up</h2>

  <div>
    <label for="email-input">Email</label>
    <input id="email-input" placeholder="Enter your Email" type="text" />
  </div>
  <div>
    <label for="password-input">Password</label>
    <input
      id="password-input"
      placeholder="Create your Password"
      type="password"
    />
  </div>
  <button type="submit">Sign up</button>
</form>

<%- include('partials/footer'); -%>
